<div class="row">
  <div class="calendars_form">
    <h1>Add Friends</h1>
    <br />
    <%= render :partial => 'add_friend', locals: {friend: @friend, user: current_user} %>
  </div>

  <div class="added_friends">
    <h1>Friends</h1>
    <% @friends.each do |friend| %> 
      <%= friend.email %><br/>
    <%end %>
  </div>
</div>

<div id="friend_invite_button">
  <%= link_to "Invite your friends!", new_invitation_path, :class => 'btn-invite' %>
</div> 
