<div class="brand-description sixcol">
  <p>no one wants to have a unique experience alone.<br/>
  experiencewith.me allows a you (the host) to schedule livingsocial adventures with friends through a single application.</p>
</div> 
<div class="user-flow">
  <p>Sign up with your gmail, pick an adventure, add friends, send invitations, and start managing your plans for adventure.</p>
</div> 
