<div class="inner-nav"> 
  <div class="add-contacts">
    <%=link_to "+", "#", :class=> "btn-add"%> 
    <%=link_to "sign out", destroy_user_session_path, :method => :delete %> 
  </div> 
</div>

<div class="nav-separator"> 
</div>