<div class="inner-nav"> 
  <% if current_user %> 
    <span id="user_name">
      <%=current_user.name %>
    </span>
  <div class="sign_out">
    <%=link_to "sign out", destroy_user_session_path, :method => :delete, :class => 'btn-sign-out' %> 
  </div>
  <% end %>
</div>
<div class="nav-separator"> 
</div>