<div class="inner-nav"> 
  <% if current_user %> 
    <span id="user_name">
      <%=current_user.name %>
    </span> 
  <div class="add-contacts">
    <%=link_to "+", "#", :class=> "btn-add"%> 
    <% end  %>
    <%=link_to "sign out", destroy_user_session_path, :method => :delete %> 
  </div> 
</div>

<div class="nav-separator"> 
</div>