<% unless current_user %> 
<div class="compass"> 
  <%=image_tag "icon-compass.png" %>
</div>
<h1 class="brand">experiencewith.me</h1> 
  <%= render "shared/info_text" %>
<% end %> 
<% if current_user %>
<div id="calendar">

</div> 
<% end %> 