<div id="adventure"> 
  <%= link_to "#{adventure.name}", adventure.link %> | 
  <%= adventure.city %> | <%= adventure.adventure_date %> | 
    <%= link_to "select", user_adventures_path(user_id: user.id, adventure_id: adventure.id), :method => :post, :class => 'btn-select'%>
</div> 
 