<h1 class="title-font"> Invite Friends to Join You</h1> 
  <div id="friends" class="group">
    <% current_user.friends.each do |friend| %>
      <span class = "threecol"> <%= friend.email %> <br /></span>
    <% end %>
  </div>

  