/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{ 
  background: url('background.png');
  color: #0C0831;
  font-family: "pragmatica-web-condensed", Helvetica, sans-serif;
  font-size: 24px;
  margin-top: 20px;
}

h1{ 
  font-size: 72px;
  font-weight: 300;
  font-family: "mono45-headline", Helvetica, sans-serif;
  margin-bottom: 25px;
}

h2{ 
  font-size: 36px;
  font-weight: 300;
  line-height:1.75em;
}

.notice { 
  min-height: 50px;
  
}
#calendar_container{ 
  background: #FFFFF9;
  padding: 15px;
}

.inner-nav{
  padding:15px !important;
}

.added_friends{
  float:right;
  padding-right:55px;
}

.calendars_form{
  float:left;
  padding-left:55px;
}

.btn-add{
  margin-right:25px;
}

#user_name{
  margin-top:20px;
}

.sign_out{
  float:left;
  margin-left:25px;
}
