/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{ 
  background: url('background.png');
  color: #0C0831;
  font-family: "pragmatica-web-condensed", Helvetica, sans-serif;
  font-size: 24px;
  margin-top: 20px;
}

h1{ 
  font-size: 72px;
  font-weight: 300;
  font-family: "mono45-headline", Helvetica, sans-serif;
  margin-bottom: 25px;
}

h2{ 
  font-size: 36px;
  font-weight: 300;
  line-height:1.75em;
}

.notice { 
  min-height: 50px;
  
}
#calendar_container{ 
  background: #FFFFF9;
  padding: 15px;
  min-height: 640px;
}

.inner-nav{
  padding:15px !important;
}

.added_friends{
  float:right;
  padding-right:55px;
}

.calendars_form{
  float:left;
  padding-left:55px;
}

.btn-add{
  margin-right:25px;
}

#user_name{
  font-family: "mono45-headline", Helvetica, Arial, Sans-Serif;
}

.sign_out{
  float:left;
  margin-left:25px;
  margin-top: 12px;
}

.btn-sign-out{ 
   border-top: 1px solid #edffe2;
   background: #accc99;
   background: -webkit-gradient(linear, left top, left bottom, from(#edffe2), to(#accc99));
   background: -webkit-linear-gradient(top, #edffe2, #accc99);
   background: -moz-linear-gradient(top, #edffe2, #accc99);
   background: -ms-linear-gradient(top, #edffe2, #accc99);
   background: -o-linear-gradient(top, #edffe2, #accc99);
   padding: 10px 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #0c0831;
   font-size: 20px;
   font-family: "mono45-headline", Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.compass img{ 
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 90px;
  margin-bottom: 10px;
  float: left;
  height: 100px;
  width: 100px;
}

h1.brand{ 
  float:left;
  margin-left: 5px;
  margin-top: 10px;
  padding-bottom: 5px;
  font-size: 96px;
}

.brand-description{ 
  padding-left: 125px;
}

h2.title-font{ 
  margin-bottom: -12px;
}
.user-flow{ 
  padding-top: 10px;
  padding-left: 110px;
  float: left;
}

#get_started{ 
  margin-top: 25px;
}

.start{ 
  float: left;
  padding-top: 75px;
}
.btn-get-started{ 
   border-top: 1px solid #edffe2;
   background: #accc99;
   background: -webkit-gradient(linear, left top, left bottom, from(#edffe2), to(#accc99));
   background: -webkit-linear-gradient(top, #edffe2, #accc99);
   background: -moz-linear-gradient(top, #edffe2, #accc99);
   background: -ms-linear-gradient(top, #edffe2, #accc99);
   background: -o-linear-gradient(top, #edffe2, #accc99);
   padding: 20px 40px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #0c0831;
   font-size: 64px;
   font-family: "mono45-headline", Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */